
pais {background-color:green;}
departamento {background-color:blue; display:block;} 
cabecera {color:orange; display:inline;} 
habitantes {color:yellow;font-size:1cm; display:inline;}
altura {color:yellow;font-size:1cm; display:inline;}
