fichero {background-color:orange;}
ficha {background-color:white; display:block;} 
nombre {color:blue; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:blue;font-size:1cm; display:inline;}
email {color:blue;font-size:2cm; display:inline;} 
telefono {color:blue;font-size:cm; display:inline;}
dui {color:blue;font-size:cm; display:inline;}
isss {color:blue;font-size:cm; display:inline;}
afp{color:blue;font-size:cm; display:inline;}