pais {background-color:turquoise;}
departamento {background-color:gold; display:block; border: 3px black;} 
cabecera {color:silver; display:inline;} 
habitantes {color:silver;font-size:10cm; display:inline;}
altura {color:silver;font-size:12cm; display:inline;}
