pais {background-color:turquoise;}
departamento {background-color:lavender; display:block;} 
cabecera {color:pink; display:inline;} 
habitantes {color:pink;font-size:10cm; display:inline;}
altura {color:purple;font-size:5cm; display:inline;}
